{% extends "base.html" %}

{% block content %}

{% if pokemon.info is not none %}
<div class="row">
    <div class="col-4 offset-4 text-center">
        <div class="border-bottom border-dark border-5"><img class="img-responsive" src="{{ pokemon.sprite() }}"
                                                      alt="Sprite Not Found" width="192" height="192"></div>
    </div>
    <div class="col-8 offset-2 text-center">
        <h1>{{ pokemon.name().upper() }} (#{{ pokemon.id() }})</h1>
    </div>
</div>
<div class="row mt-3 center">
    <div class="col-md-3 border border-dark border-3 text-center offset-1">Pokémon Type(s):<br>
        {{ pokemon.type().upper() }} </div>
    <div class="col-md-1 border border-dark border-3 text-center">Hp:<br>{{ pokemon.stats().0 }}</div>
    <div class="col-md-1 border border-dark border-3 text-center">Atk:<br>{{ pokemon.stats().1 }}</div>
    <div class="col-md-1 border border-dark border-3 text-center">Def:<br>{{ pokemon.stats().2 }}</div>
    <div class="col-md-1 border border-dark border-3 text-center">SpAtk:<br>{{ pokemon.stats().3 }}</div>
    <div class="col-md-1 border border-dark border-3 text-center">SpDef:<br>{{ pokemon.stats().4 }}</div>
    <div class="col-md-1 border border-dark border-3 text-center">Spd:<br>{{ pokemon.stats().5 }}</div>
    <div class="col-md-1 border border-dark border-3 text-center">Total:<br>{{ pokemon.stats().6 }}</div>
</div>
<div class="row center">
    <div class="col-md-1 border border-dark border-3 text-center offset-1">Base Exp:<br>{{ pokemon.exp() }}</div>
    {% for key, value in pokemon.type_interaction().items() %}
        <div class="col-md-3 border border-dark border-3 text-center">{{ key }}:<br>
            {% if value|length == 0 %}
                | None
            {% else %}
                {% for type_value in value %}
                    {% if type_value.1 == 0.25 or type_value.1 == 4 %}
                        | <b>{{ type_value.0 }}</b>
                    {% else %}
                        | {{ type_value.0 }}
                    {% endif %}
                {% endfor %}
            {% endif %}
            |
        </div>
    {% endfor %}
</div>
<div class="row center">
    {% for key, value in pokemon.abilities().items() %}
    <div class="col-md-10 border border-dark border-3 text-center offset-1">Pokémon Ability:<br>
        <p class="fw-bold">{{ key }}</p>{{ value }}</div>
    {% endfor %}
</div>
<div class="row">
    <div class="col-md-4 offset-1 mt-4">
        <div class="container">
            <div class="text-left">
                <form action="{{url_for('pokecard')}}" method="post">
                    <input type="submit" class="btn btn-primary btn-lg rounded-0" id="pokemon" name="pokemon"
                           value="{{ pokemon.id() - 1 }}" readonly>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-2 mt-4">
        <div class="container">
            <div class="text-center">
                <a class="btn btn-primary btn-lg rounded-0" href="{{url_for('index')}}" role="button">Home</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mt-4">
        <div class="container ">
            <div class="text-end">
                <form action="{{url_for('pokecard')}}" method="post">
                    <input type="submit" class="btn btn-primary btn-lg rounded-0" id="pokemon" name="pokemon"
                           value="{{ pokemon.id() + 1 }}" readonly>
                </form>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="alert alert-warning" role="alert">
    Sorry, but there might not be a Pokémon by that name or ID.<br>
    Please go back and try again.
</div>
{% endif %}

{% endblock content %}
